@import '@/scss/index.scss';

.hero {
    width: 100%;
    height: 100%;
    position: relative;

    >img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
        z-index: -1;

        &.wallpaper {
            display: none;
        }
    }

    >div {
        background: rgb(8, 13, 22);
        background: linear-gradient(35deg, rgba(8, 13, 22, 1) 0%, rgba(8, 13, 22, 1) 45%, rgba(8, 13, 22, 0.5214460784313726) 100%);
        width: 100%;
        height: 100%;
        padding: 0 2rem;

        @media (min-width: 700px) {
            padding: 0 3rem;
        }

        @media (min-width: 900px) {
            padding: 0 4rem;
        }

        .content {
            width: 100%;
            max-width: 1200px;
            margin: auto;
            padding: 0;
            padding-top: 9rem;

            >a {
                display: flex;
                align-items: center;
                gap: 1rem;
                text-decoration: none;
                font-size: 1.3rem;

                &:hover {
                    color: $primary-hover;
                }
            }
        }
    }



    @media (min-width: 750px) {
        >img {
            &.wallpaper {
                display: block;
            }

            &.wallpaperPhone {
                display: none;
            }
        }
    }
}

.container {
    width: 100%;
    padding: 0 2rem;

    @media (min-width: 700px) {
        padding: 0 3rem;
    }

    @media (min-width: 900px) {
        padding: 0 4rem;
    }

    >div {
        width: 100%;
        max-width: 1200px;
        margin: auto;

        h2 {
            font-size: 1.5rem !important;
        }
    }
}