@import '@/scss/index.scss';

.pagination {
    width: 100%;
    display: flex;
    justify-content: center;

    >div {
        display: flex;
        gap: 1rem;

        >button {
            background-color: $background-secondary;
            padding: .5rem 1rem;
            border: none;
            font-size: 1.5rem;
            cursor: pointer;
            border-radius: 10px;

            &:hover {
                background-color: $primary;
            }

            &:disabled {
                display: none;
                background-color: $background-ternari;
            }
        }
    }
}