@import '@/scss/index.scss';


.barTrust {
    width: 100%;
    background-color: $background-secondary;
    padding: 0 2rem;

    @media (min-width: 700px) {
        padding: 0 3rem;
    }

    @media (min-width: 900px) {
        padding: 0 4rem;
    }

    .content {
        width: 100%;
        max-width: 1200px;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr;
        padding: 40px 0;
    }

    .block {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2rem 0;
        border-bottom: 1px solid $primary;

        &:last-of-type {
            border: none;
        }

        i {
            font-size: 35px;
            margin-right: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $primary;
        }

        h5 {
            font-size: 1.5rem;
            margin-bottom: .6rem;
        }

        span {
            font-size: 1.2rem;
            color: $text-secondary;
        }
    }
}