@import '@/scss/index.scss';

.gridGames {
    display: flex;
    flex-wrap: wrap;
    margin: -10px;
    gap: 3rem;
    justify-content: center;

    .game {
        width: 100%;
        max-width: 380px;
        text-decoration: none;

        &:hover {
            opacity: .6;

        }

        >div {
            position: relative;
            padding: 10px 10px 0 10px;

            &:last-of-type {
                padding-top: 0;
                display: flex;
                flex-direction: column;
            }

            span {
                &:first-of-type {
                    margin-top: 1rem;
                    font-size: 1.5rem;
                    font-weight: 700;
                }

                &:last-of-type {
                    margin-top: .6rem;
                    font-size: 1.4rem;
                }
            }

            p {
                font-weight: 700;
                margin-top: .8rem;
                font-size: 1.4rem;
                color: $background-ternari;
            }

            >img {
                width: 100%;
                height: 250px;
                object-fit: cover;
            }

            .discount {
                position: absolute;
                left: 10px;
                bottom: 5px;
            }

            .price {
                font-size: 18px;
            }
        }
    }

    @media (min-width: 800px) {
        grid-template-columns: 1fr 1fr;
        gap: 2rem;

        .game {
            max-width: 388px;

            >div {
                >img {
                    height: 280px;
                }
            }
        }
    }
}