* {
    color: #ffffff;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

body {
    background-color: #080D16;
}

ul {
    list-style: none;
}