// COLORS
$primary: #0056C7;
$primary-hover: #4081D5;

$text-primary: #ffffff;
$text-secondary: #A2A4A7;

$background-primary: #080D16;
$background-primary--transparent: #080d1699;
$background-secondary: #0B1625;
$background-ternari: #45484E;

// FONT-SIZES
$text-1: 60px;
$text-2: 35px;
$text-3: 28px;
$text-4: 24px;
$text-5: 20px;
$text-6: 18px;